<div class="modal fade" [id]="id" tabindex="-1" aria-labelledby="pokeCardLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <div [className]="`card-${colorType} card-pokemon p-3 pb-lg-5 px-lg-5`">
                    <button type="button" class="button-close" data-bs-dismiss="modal">
                        <img src="/img/others/close-button.svg" alt="close-button" />
                    </button>
                    <img class="card-pokemon-img" [src]="img" alt="Pokémon selecionado" /><span
                        class="card-pokemon-name py-2">{{ name }}</span>
                    <div class="d-flex border-bottom border-top justify-content-between w-100 aling-items-center py-2">
                        <div
                            class="d-flex flex-column align-items-center justify-content-center text-center w-100 mx-2">
                            <span class="w-100 mx-4 pokemon-stats">{{ height }} M</span>
                            <p class="d-flex align-items-center m-0">
                                <img src="/img/others/altura.svg" alt="altura" />
                                Altura
                            </p>
                        </div>
                        <div
                            class="d-flex align-items-center border-end border-start justify-content-center w-100 gap-3 px-3">
                            @for (type of types[0]; track $index) {
                            <img width="40" [src]="`/img/types/${type.type.name}.svg`" alt="type" [title]="type.type.name"/>
                            }
                        </div>
                        <div
                            class="d-flex flex-column align-items-center justify-content-center text-center w-100 mx-2">
                            <span class="w-100 mx-4 pokemon-stats">{{ weight }} Kg</span>
                            <p class="d-flex align-items-center m-0">
                                <img src="/img/others/peso.svg" alt="peso" />
                                Peso
                            </p>
                        </div>
                    </div>
                    <div class="w-100 pt-4">
                        @for (stat of stats; track $index) {
                        <div class="row align-items-center">
                            <div class="col-1">
                                <img [src]="`/img/stadistics/${stat.name}.svg`" alt=""/>
                            </div>
                            <div class="col-1">
                                <span>{{ stat.base_stat }}</span>
                            </div>
                            <div class="col">
                                <div class="status-bar-box">
                                    <div class="status-bar-100" [title]="stat.name"
                                        [style]="`width: ${stat.widthPercent}%`"></div>
                                </div>
                            </div>
                        </div>
                        }
                        <div class="d-flex align-items-center gap-2 pt-2">
                            <span>Debilidades:</span>
                            <div class="d-flex gap-2">
                                @for (debility of debilities; track $index) {
                                <img class="scale-in-center" width="28" [src]="`/img/types/${debility.name}.svg`"
                                    [alt]="debility.name" [title]="debility.name" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>